@*指定 model 資料型態*@
@model List<Carts.Models.RouteTest.TempProducts>
    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";  
    }


    
<h2>商品列表</h2>

<table class="table">
    <thead>
    <tr>
        <td>編號</td>
        <td>名稱</td>
        <td>售價</td>
    </tr>
    </thead>

    <tbody>
        @*使用 foreach 列出所有商品至表格元素內*@
        @foreach (var pd in this.Model)
        {
            <tr>
                <td>@pd.ID</td>
                <td>@pd.Name</td>
                <td>@pd.Price</td>
            </tr>
        }
    </tbody>
</table>